@media all and (max-width: 980px) {
 /* .navbar-toggler{
    display: block;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 3px;
    background: transparent;
 }
 .navbar-toggler span{
    height: 2px;
    background: #555;
    width: 38px;
    display: block;
    margin-top: 7px;
 }
 .navbar-toggler span:first-child{
  margin-top: 0;
 } */
 .menu-toggle-btn {
	  display: block;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 3px;
    background: transparent;
    width: 60px;
 }
 .menu-toggle-btn.js-transform span {
  display: none !important;
}
 .menu-toggle-btn.js-transform::before, .menu-toggle-btn.js-transform:after {
  content: "";
  width: 4px;
  height: 25px;
  display: block;
  background: #555;
  margin: 0 auto;
}
.menu-toggle-btn.js-transform::before{
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
}
.menu-toggle-btn.js-transform::after{
   -webkit-transform: rotate(-45deg); 
   transform: rotate(-45deg);
   margin-top: -25px;
}
 .menu-toggle-btn span {
  display: block;
  background: #555;
  height: 4px;
  width: 30px;
  margin: 5px auto;
}
  
 #menu {
  position: fixed;
  right: -1000%;
  top: 74px;
  background: #fff;
  height: calc(100% - 74px);
  z-index: 999;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  width: 350px;
  transition: all 0.2s ease 0s;
 }
 #menu.show-menu{
  right:0;
 }
 #menu .menu {
   flex-direction: column;
   margin: 0;
   padding: 0;
 }
 #menu .menu li{
  border-bottom: 1px solid #808080;
  margin: 0;
 }
 #menu .menu li:last-child{
  border-bottom: none;
 }
}