{% extends "block.html.twig" %}
{#
/**
 * @file
 * picked_fresh's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
  {% if site_logo %}
    <div id="logo-wrapper">
      <div class="logo">
        <a href="{{ path('<front>') }}" title="{{ site_name }}" rel="home" id="logo">
          <img src="{{ site_logo }}" alt="{{ site_name }}" />
        </a>
      </div>
    </div><!-- end logo wrapper -->
  {% endif %}
  
  {# {% if site_name or site_slogan %}
    <div id="branding-wrapper">
    {% if site_name %}
      {% if is_front %}
        <h1 class="site-name">
          <a href="{{ path('<front>') }}" title="{{ site_name }}">{{ site_name }}</a>
        </h1>
      {% else %}
        <h2 class="site-name">
          <a href="{{ path('<front>') }}" title="{{ site_name }}">{{ site_name }}</a>
        </h2>
      {% endif %}
    {% endif %}
    {% if site_slogan %}
      <div class='site-slogan'>{{ site_slogan }}</div>
    {% endif %}
    </div><!-- end branding wrapper -->
  {% endif %}#}
{% endblock %} 
